body html {
	margin: 0;
	padding: 0;
}

.backgroundimg {
	background-image: url('../img/Artboard1.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:100vh;
	width: 100%;
}