/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
<<<<<<< HEAD
    height: 90vh;
=======
    height: 100vh;
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
<<<<<<< HEAD
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}


.fade-carousel .carousel-inner .item1.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
			
}.fade-carousel .carousel-inner .item2.active .hero {
    opacity: 1;
=======
.hero h3 { 
text-align:center;
    margin: auto;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
<<<<<<< HEAD
            transition: 2s all ease-in-out .1s;    
			
}
.fade-carousel .carousel-inner .item3.active .hero {
=======
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
<<<<<<< HEAD
			
=======
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7 {
<<<<<<< HEAD
  height: 90vh;
=======
  height: 100vh;
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/slides/slide_1.png); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/slides/slide_2.png);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/slides/slide_3.png);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../img/slides/slide_4.png);
}
.fade-carousel .slides .slide-5 {
  background-image: url(../img/slides/slide_5.jpg);
}
.fade-carousel .slides .slide-6 {
  background-image: url(../img/slides/slide_6.png);
}
.fade-carousel .slides .slide-7 {
  background-image: url(../img/slides/slide_7.png);
}
<<<<<<< HEAD

=======
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
<<<<<<< HEAD
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > .slide-1 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
}.carousel-inner .item > .slide-2 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
}.carousel-inner .item > .slide-3 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
}
.carousel-inner .item > .slide-4 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
}.carousel-inner .item > .slide-5 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
}.carousel-inner .item > .slide-6 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
}
}.carousel-inner .item > .slide-7 {
  -webkit-animation: zoom 8s;
  animation: zoom 8s;
=======
    transform: scale(1.2, 1.2);
  }
}

.carousel-inner .item > div {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
}

/********************************/
/*          Media Queries       */
/********************************/
<<<<<<< HEAD


@media  screen and (max-width: 767px) {
=======
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

@media only screen and (max-width: 767px) {
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
#slitSlider,.hero,	.sl-slider-wrapper, 
.carousel-inner, .sl-slider-wrapper, .carousel, 
	.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7 {
<<<<<<< HEAD
		height:35vh;
=======
		height:50vh;
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf
	}
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7 {
	
<<<<<<< HEAD
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h3 {
    font-size: 10px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
=======
  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
}
>>>>>>> b7fae8e8c6d4035a13e5cace7dd72104612c7ddf

}